.cateraing-conainer {
  background-size: cover;
  background-position: center;
  width: 100%;

}

.catering-info {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 12px;
}

.catering-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
 gap: 20px;
 
}

.catering-content p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.05rem;
  padding: 20px;
  padding-bottom: 40px;
  color: #555;
  white-space: pre-line;
  width: 100%;
}

.catering-contact-details {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.05rem;
  padding-bottom: 40px;
  color: #555;
  white-space: pre-line;
  width: 100%;
}

.catering-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 60px 20px;
}

.catering-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  padding-left: 0;
}

.catering-form form button {
  padding: 10px 30px;
  background-color: rgb(18, 49, 18);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.catering-form form button:hover {
  background-color: #ffa500;
  color: white !important;
}

.success-message-catering {
  color: #28a745;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.catering-log{
  width: 200px;
  background: transparent !important;
}
@media (max-width: 768px) {
  .catering-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }

  .catering-form {
    padding: 20px;
  }

  .catering-form form {
    width: 100%;
    padding-left: 0;
  }

  .catering-content p,
  .catering-contact-details {
    font-size: 1rem;
    padding: 10px;
    text-align: start;
    padding-left: 25px;
    padding-right: 20px;
  }
  .success-message-catering {
    font-size: 1.5rem;
    padding: 10px 20px;
    
    text-align: center;
  }
}
