.common-input {
  border: 1px solid rgb(138, 114, 54);
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  background-color: transparent;

}

.common-input:hover,
.common-input:focus {
  border-color: #ffa500;
  box-shadow: 0 0 5px rgb(226, 225, 222);
  outline: none;
}

.textarea {
  min-height: 100px;
  resize: vertical;
  background-color: transparent;
  
}

.error-text {
  color: red;
  font-size: 1rem;
  margin-top: -10px;
  padding-left: 8px;
}