.contact-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
  color: white;
  font-weight: bold;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
}

.contact-form-container {
  flex: 1;
  padding-right: 40px;
  min-width: 300px;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
}

.contact-form-container form button {
  padding: 10px 30px;
  background-color: rgb(18, 49, 18);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form-container form button:hover {
  background-color: #ffa500;
}

.contact-info-container {
  flex: 1;
  font-family: 'Cinzel', serif;
  color: #333;
  max-width: 400px;
}

.section {
  margin-bottom: 3rem;
}

.section a {
  text-decoration: none;
  color: black;
  font-weight: normal; 
  transition: color 0.2s ease;
}

.section a:hover {
  color: rgb(28, 175, 28); /* or any color you prefer for hover */
    text-decoration: none;
}


.heading {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #3b3b3b;
  text-transform: uppercase;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

.info-item p {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal; 
  width: 280px;
  cursor: pointer;
  color: black; 
  text-decoration: none;
}
.info-item a{
  display: flex;
}

.info-item p:hover {
  color: rgb(28, 175, 28);
  text-decoration: none; 
}



.social-icons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.social-icons a {
  background-color: rgb(18, 49, 18);
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color: #8b682f;
}

.success-message {
  color: #28a745;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .contact-details {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .contact-form-container {
    padding: 0;
    width: 100%;
  }

  .contact-form-container form {
    width: 100%;
    padding: 0 10px;
  }

  .contact-info-container {
    padding: 0 10px;
    width: 100%;
  }

  .info-item {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .success-message {
    font-size: 1.5rem;
    padding: 10px 20px;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
