.vmr-special-section {
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  display: flex;
}

.vmr-overlay {
  padding: 50px 30px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 12px;
  color: #0a0909;
}

.vmr-heading {

  font-size: 1.8rem;
  font-weight: bold;
  color: #1d4d2c;
  /* border-left: 4px solid #f6921e; */
  padding-left: 12px;
  margin-bottom: 6px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.vmr-description {
  font-size: 1.05rem;
  padding: 20px;
  padding-bottom: 40px;
  color: #555;
  white-space: pre-line;
  width: 1000px;
}

.vmr-carousel-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  /* <-- This is crucial for absolute buttons */
}

.vmr-carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 30px;
  height: 400px;
}

.vmr-carousel-card {
  flex: 0 0 33.3333%;
  box-sizing: border-box;
  padding: 10px;
}

.vmr-carousel-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 8px;
}

.vmr-carousel-card h3 {
  margin: 0.5rem 0 0.25rem;
}

.vmr-carousel-card p {
  font-size: 14px;
  color: #444;
}

.vmr-carousel-button {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  width: 50px;
  height: 50px;
  border: 2px solid #d1a903;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 500;
}


.vmr-carousel-button svg {
  color: #d1a903;
}

.vmr-carousel-button:hover {
  background-color: rgba(209, 169, 3, 0.1);
}

.vmr-carousel-button:active {
  transform: scale(0.95);
}

.vmr-carousel-button:first-of-type {
  left: -100px;
}

.vmr-carousel-button:last-of-type {
  right: -150px;
}

/* Responsive */
@media (max-width: 768px) {
  .vmr-overlay {
    padding: 0 0;
    margin: 0 auto;
    border-radius: 12px;
    color: #0a0909;
    width: 400px;
  }

  .vmr-description {
    width: 350px;
    padding-top: 40px;
    font-size: 1.2rem;
    text-align: left;
  }

  .vmr-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .vmr-carousel-content {
    flex-direction: column;
    height: auto;
  }

  .vmr-carousel-card {
    flex: 0 0 auto;
    padding: 5px;
    height: 400px;
  }

  .vmr-carousel-card img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  .vmr-carousel-card h3 {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .vmr-carousel-card p {
    width: 340px;
    font-size: 14px;
    color: #444;
    font-size: 1.2rem;

    padding-top: 10px;
  }

  .vmr-carousel-button {
    display: none;
  }
}